@page "/tenants/create"
@using Microsoft.EntityFrameworkCore
@using RentalSystem.Models
@inject IDbContextFactory<RentalSystem.Data.RentalSystemContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>tenants</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="tenants" OnValidSubmit="Addtenants" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="firstname" class="form-label">FirstName:</label> 
                <InputText id="firstname" @bind-Value="tenants.FirstName" class="form-control" /> 
                <ValidationMessage For="() => tenants.FirstName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="lastname" class="form-label">LastName:</label> 
                <InputText id="lastname" @bind-Value="tenants.LastName" class="form-control" /> 
                <ValidationMessage For="() => tenants.LastName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label> 
                <InputText id="email" @bind-Value="tenants.Email" class="form-control" /> 
                <ValidationMessage For="() => tenants.Email" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="phonenumber" class="form-label">PhoneNumber:</label> 
                <InputText id="phonenumber" @bind-Value="tenants.PhoneNumber" class="form-control" /> 
                <ValidationMessage For="() => tenants.PhoneNumber" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="address" class="form-label">Address:</label> 
                <InputText id="address" @bind-Value="tenants.Address" class="form-control" /> 
                <ValidationMessage For="() => tenants.Address" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="emergencycontactname" class="form-label">EmergencyContactName:</label> 
                <InputText id="emergencycontactname" @bind-Value="tenants.EmergencyContactName" class="form-control" /> 
                <ValidationMessage For="() => tenants.EmergencyContactName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="emergencycontactphone" class="form-label">EmergencyContactPhone:</label> 
                <InputText id="emergencycontactphone" @bind-Value="tenants.EmergencyContactPhone" class="form-control" /> 
                <ValidationMessage For="() => tenants.EmergencyContactPhone" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/tenants">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private tenants tenants { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task Addtenants()
    {
        using var context = DbFactory.CreateDbContext();
        context.tenants.Add(tenants);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/tenants");
    }
}
