@page "/properties"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using RentalSystem.Models
@using RentalSystem.Data
@implements IAsyncDisposable
@inject IDbContextFactory<RentalSystem.Data.RentalSystemContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="properties/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Property">
    <PropertyColumn Property="property => property.Address" />
    <PropertyColumn Property="property => property.Unit_type" />
    <PropertyColumn Property="property => property.Amount" />
    <PropertyColumn Property="property => property.IsOccupied" />
    <PropertyColumn Property="property => property.Description" />
    <PropertyColumn Property="property => property.LandlordId" />

    <TemplateColumn Context="property">
        <a href="@($"properties/edit?propertyid={property.PropertyId}")">Edit</a> |
        <a href="@($"properties/details?propertyid={property.PropertyId}")">Details</a> |
        <a href="@($"properties/delete?propertyid={property.PropertyId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private RentalSystemContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
